<!-- Title -->
<h2>Suggestion Box</span></h2>

<!-- New suggestion form -->
<add-suggestion></add-suggestion>

<!-- Suggestions list -->
<div>
    <ul class="list-group">
        <li href="#" class="list-group-item active">
            <span class="badge">Total: {{posts.length}}</span>
            Suggestions:
        </li>
        <li class="list-group-item" ng-repeat="post in posts | orderBy:'-upvotes'">
            <!-- Base information -->
            <to-comments post="post" index="$index"></to-comments>
            <span class="badge">Upvotes: {{post.upvotes}}</span>
            {{post.title}}
            <span class="glyphicon glyphicon-plus-sign" ng-click="upVote(post)"></span>

            <!-- Comments list -->
            <comments comments="post.comments"></comments>
        </li>
    </ul>
</div>